<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 	<context-param>
 		<param-name>DRIVER</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
 	</context-param>
 	<context-param>
 		<param-name>URL</param-name>
 		<param-value>jdbc:mysql://localhost:3306/jee_online_db</param-value>
 	</context-param>
 	<context-param>
 		<param-name>USER</param-name>
 		<param-value>sandeep</param-value>
 	</context-param>
 	<context-param>
 		<param-name>PASSWORD</param-name>
 		<param-value>sandeep</param-value>
 	</context-param>
 	
 	<servlet>
 		<servlet-name>RegistrationServlet</servlet-name>
 		<servlet-class>pages.RegistrationServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>RegistrationServlet</servlet-name>
 		<url-pattern>/register</url-pattern>
 	</servlet-mapping>
 	
 	<servlet>
 		<servlet-name>ValidateServlet</servlet-name>
 		<servlet-class>pages.ValidateServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
 		<servlet-name>ValidateServlet</servlet-name>
 		<url-pattern>/validate</url-pattern>
 	</servlet-mapping>
</web-app>